<div class="jumbotron">
    <div class="container text-center">
        <h1>{{title}}</h1>
        <p> {{ content }}</p>
        <p> Email: jalil.fatima@icloud.com</p>
        <p> Phone: (249) 535-0746</p>
        <p> Linked in: www.linkedin.com/in/fatima-jalil</p>
    </div>
</div>


