<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div>
    <!-- sample Navbar: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_portfolio&stacked=h -->
    <nav class="navbar navbar-inverse">

    <!-- LOGO -->

        <a class="navbar-brand" href="/">Portfolio</a>
       <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/about">About</a>
                </li>
                <li>
                    <a  href="/projects">My Projects</a>
                </li>
                <li>
                    <a  href="/contact">Contact Me</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

{{{body}}}
</body>
</html>
